.overlay {
    background-color: #000;
    opacity: .7;
    mix-blend-mode: multiply;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99;
    top:0;
    right:0;
}

#basket {
    background-color: #fff;
    font-size: 1em;
    width: 100%;
    max-width: 700px;
    padding: 20px 25px;
    position: absolute;
    right:0;
    top:0;
    z-index: 99;
    filter: drop-shadow(-4px 0 4px #222);
}

h1 .material-icons {
    font-size: 1em;
    color: inherit;
    opacity: 1;
    position: relative;
    bottom: -2px;
}

#basket h1 {
    color: #800;
    font-size: 1.15rem;
    margin-bottom: .25em;
    position: relative;
    margin-bottom: -20px;
}

#basket .button {
    background-color:#800;
    color: #fff;
    padding: 7px 10px;
    display: inline-block;
    font-size: .7em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-left: 15px;
}

#basket .button:hover {
    background-color:#900;
    color: #fff;
}

#basket .button.gray {
    background-color:#888;
}

#basket .button.gray:hover {
    background-color:#777;
}

#basket .row {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0 0;
    margin-bottom: 7px;
}

#basket .row:first-of-type {
    padding: 0;
    margin-bottom: 0;
    max-height: 42px;
}

#basket .overall {
    padding-top: 10px;
    font-weight: 700;
}

#basket .row:not(:first-of-type) {
    border-top: 1px solid #ccc;
}

#basket .row.buttons {
    border: none;
}

#basket .row.buttons span:not(.info) {
    font-size: .75em;
    color: #900;
    max-width: 200px;
    font-weight: 600;
}

#basket .row.buttons span.info {
    font-size: 2.25em;
    color: #900;
    opacity: 1;
    padding-right: 12px;
}

#basket .col {
    margin: 0;
}

#basket .col:not(:first-child) {
    margin-left: 12px;
}

#basket .col a {
    display: block;
}

#basket .c1 {
    flex-basis: 55px;
    max-width: 55px;
}

#basket .c2 {
    max-width: 240px;
    margin-right: auto;
}

#basket .c3 {
    flex-basis: 45px;
    max-width: 45px;
}

#basket .c4 {
    flex-basis: 80px;
    max-width: 80px;
    text-align: right;
    color: #333;
    font-weight: 600;
}

#basket .c4 span {
    font-weight: 600;
}

#basket .overall .c4 {
    font-weight: 700;
}

#basket .c5 {
    width: 12px;
    font-size: 1.75em;
    font-weight: 800;
    padding-bottom: .1em;
}

#basket .c5 :hover {
    color: #900;
}

#basket .author {
    color: #333;
    font-size: .8em;
    margin-top: .5em;
    font-weight: 600;
}

#basket .col .info {
    font-size: .8rem;
    color: #888;
    margin-top: .5em;
}

#basket .col span {
    font-size: .8em;
    color: #333;
}

#basket a {
    display: block;
    color: #333;
    margin: .5em 0;
}

#basket a:hover {
    color: #900;
}

#basket h2 {
    font-size: .85rem;
    line-height: 1.2;
    font-weight: 600;
    color: #333;
}

#basket input.numb {
    background: transparent;
    border: 1px solid #ccc;
    width: 70%;
    color: #333;
    font-size: .95em;
    padding: 3px 5px;
    text-align: center;
}

#basket .col.numb::before {
    content: "×";
    display:inline-block;
    color: #777;
    font-weight: 600;
}

@media screen and (max-width:700px) {
    #basket .c2 {
        max-width: 100%;
        width: calc(100% - 75px);
        margin-right: 0;
    }
}